@page "/"
@using BlazorDatasheet.Data
@using BlazorDatasheet.Formats
@using BlazorDatasheet.FormulaEngine
@using BlazorDatasheet.ObjectEditor
@using BlazorDatasheet.Validation
@using BlazorDatasheet.Render
@using BlazorDatasheet.SharedPages.Data

<PageTitle>Index</PageTitle>

<p>
    Blazor DataSheet is an excel-like editor for cellular values. Below shows some of the features of the data sheet. Sample code is available on <a href="https://github.com/anmcgrath/BlazorDatasheet">GitHub</a>
</p>

<input type="text" @bind="Sheet.Editor.EditValue" @bind:event="oninput"/>
<button @onclick="@(()=>Sheet.Editor.EditValue = "Bpb")"></button>

@Sheet.Editor.EditValue

<Datasheet Theme="@Theme"
           Sheet="Sheet"
           StickyHeadings="true"
           FixedHeightInPx="600"
           IsFixedHeight="true">

</Datasheet>

<div>
    <button @onclick="InsertRowAfterSelection">Insert row after selection</button>
    <button @onclick="InsertColAfterSelection">Insert col after selection</button>
    <button @onclick="RemoveCol">RemoveCol</button>
    <button @onclick="() => Sheet.Commands.Undo()">Undo</button>
    <button @onclick="() => Sheet.Commands.Redo()">Redo</button>
    <button @onclick="@(() => Sheet.Selection.Value = "Bob")">Set to Bob</button>
    <button @onclick="@(() => Sheet.SetFormat(new CellFormat() { BackgroundColor = "red" }, Sheet.Selection))">Set bg to red</button>
    <button @onclick="@(() => Sheet.SetFormat(new CellFormat() { BackgroundColor = "blue" }, Sheet.Selection))">Set bg to blue</button>
    <button @onclick="@(() => Sheet.SetFormat(new CellFormat() { ForegroundColor = "green" }, Sheet.Selection))">Set font colour to green</button>
    <button @onclick="@(() => Sheet.MergeCells(Sheet.Selection))">Merge cells</button>
</div>

<div>
    <input id="darkmode-toggle" type="checkbox" @bind="IsDarkMode"/>
    <label for="darkmode-toggle">Darkmode</label>
</div>

@code {

    private Sheet Sheet;
    private string Theme => IsDarkMode ? "dark" : "default";
    private bool IsDarkMode { get; set; }

    private void InsertRowAfterSelection()
    {
        if (Sheet.Selection.ActiveRegion == null)
        {
            return;
        }
        Sheet.InsertRowAfter(Sheet.Selection.ActiveRegion.TopLeft.Row);
    }

    private void InsertColAfterSelection()
    {
        if (Sheet.Selection.ActiveRegion == null)
        {
            return;
        }
        Sheet.InsertColAfter(Sheet.Selection.ActiveRegion.TopLeft.Col);
    }

    private void RemoveCol()
    {
        if (Sheet.Selection.ActiveRegion == null)
        {
            return;
        }
        Sheet.RemoveCol(Sheet.Selection.ActiveRegion.Left);
    }


    protected override void OnInitialized()
    {
        Sheet = new Sheet(50, 6);
        Sheet.Editor.EditValueChanged += (sender, s) => StateHasChanged();
        var engine = new FormulaEngine(Sheet);
    }

}