@using BlazorDatasheet.Data
@using BlazorDatasheet.DataStructures.Geometry
@using BlazorDatasheet.Events
@using BlazorDatasheet.Interfaces
@using BlazorDatasheet.Render
@using BlazorDatasheet.Selecting
@using BlazorDatasheet.Services
@using BlazorDatasheet.Util
@using Microsoft.JSInterop
@using System.Text
@using BlazorDatasheet.DataStructures.Intervals
@using BlazorDatasheet.Events.Layout
@inject IJSRuntime JS;
@implements IDisposable


<div style="position: absolute; top: 0; left: 0;">

    @foreach (var interval in _selectionIntervals)
    {
        <BoxOverlayRenderer
            BackgroundVisible="@true"
            BorderThickness="0"
            BackgroundStyle="background:var(--selection-bg-color);"
            Width="CellLayoutProvider.ComputeWidth(interval.Start, interval.Length)"
            Height="CellLayoutProvider.ComputeHeight(-1, 1)"
            X="CellLayoutProvider.ComputeLeftPosition(interval.Start)"
            Y="CellLayoutProvider.ComputeTopPosition(-1)"/>
    }

    <!-- Ardoners -->
    @for (int i = VisibleColStart; i < (VisibleColStart + NVisibleCols); i++)
    {
        var col = i;
        <div
            @onmousedown="e => HandleMouseDownOnAdorner(col)"
            style="@GetArdornerSizeStyles(col)
            position:absolute; z-index: 2;  
            background: none; cursor: col-resize; display: block">
        </div>
    }

    <!-- Resize preview -->
    @if (IsDragging)
    {
        var resizeWidth = Math.Max(MinResizeWidth, Sheet.LayoutProvider.ComputeWidth(ActiveAdorner, 1) + CurrentColResizeAmount);
        <BoxOverlayRenderer
            Y="0"
            Width="3"
            BorderThickness="1"
            X="@(CellLayoutProvider.ComputeLeftPosition(ActiveAdorner) + resizeWidth)"
            Height="@(CellLayoutProvider.TotalHeight)"/>
    }

</div>

@for (var i = VisibleColStart; i < (VisibleColStart + NVisibleCols); i++)
{
    var col = i;
    var colHeading = Sheet?.ColumnInfo.GetHeading(i) ?? i.ToString();

    <div
        class="sheet-cell @(IsActive(col) ? "column-active" : "")"
        style="z-index: 1; @CssUtil.GetCellWidthStyles(i, 1, CellLayoutProvider); height: @(CellLayoutProvider.ColHeadingHeight)px"
        @onmouseup="e => HandleMouseUp(col, e)"
        @onmouseover="e => HandleMouseOver(col, e)"
        @onmousedown="e => HandleMouseDown(col, e)">
        <div class="cell" style="">
            @colHeading
        </div>
    </div>
}

@code {

    private Sheet? _sheet;

    [Parameter, EditorRequired]
    public Sheet? Sheet { get; set; }

    [Parameter]
    public CellLayoutProvider CellLayoutProvider { get; set; }

    [Parameter]
    public EventCallback<ColumnMouseEventArgs> OnMouseUp { get; set; }

    [Parameter]
    public EventCallback<ColumnMouseEventArgs> OnMouseOver { get; set; }

    [Parameter]
    public EventCallback<ColumnMouseEventArgs> OnMouseDown { get; set; }

    [Parameter]
    public int NVisibleCols { get; set; }

    [Parameter]
    public int VisibleColStart { get; set; }

    private IWindowEventService _windowEventService;

    private double MouseX { get; set; }
    private double MouseXStart { get; set; }
    public int ActiveAdorner { get; set; }
    public bool IsDragging { get; set; }
    public double CurrentColResizeAmount { get; set; }
    private int MinResizeWidth = 15;

    public List<OrderedInterval> _selectionIntervals { get; set; } = new();

    protected override void OnParametersSet()
    {
        if (_sheet != Sheet)
        {
            if (_sheet != null)
            {
                _sheet.Selection.SelectionChanged -= OnSelectionChanged;
                _sheet.Selection.SelectingChanged -= OnSelectingChanged;
            }
            _sheet = Sheet;
            _sheet.Selection.SelectionChanged += OnSelectionChanged;
            _sheet.Selection.SelectingChanged += OnSelectingChanged;
        }
        base.OnParametersSet();
    }

    [JSInvokable]
    public bool WindowHandleMouseMove(MouseEventArgs arg)
    {
        MouseX = arg.PageX;
        if (IsDragging)
        {
            CurrentColResizeAmount = MouseX - MouseXStart; // 10 being the minimum width we can resize to
            StateHasChanged();
            return true;
        }
        return false;
    }

    private void HandleMouseDownOnAdorner(int col)
    {
        MouseXStart = MouseX;
        ActiveAdorner = col;
        CurrentColResizeAmount = 0;
        IsDragging = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _windowEventService = new WindowEventService(JS);
            await _windowEventService.Init();
            _windowEventService.OnMouseUp += WindowEventServiceOnOnMouseUp;
            _windowEventService.OnMouseMove += WindowHandleMouseMove;
        }
    }

    private bool WindowEventServiceOnOnMouseUp(MouseEventArgs arg)
    {
        if (IsDragging)
        {
            IsDragging = false;
            var resizeWidth = Math.Max(MinResizeWidth, Sheet.LayoutProvider.ComputeWidth(ActiveAdorner, 1) + CurrentColResizeAmount);
            Sheet.SetColumnWidth(ActiveAdorner, resizeWidth);
            return true;
        }

        return false;
    }

    public void Dispose()
    {
    }

    private bool IsActive(int col)
    {
        return (Sheet!.Selection!.SelectingRegion?.SpansCol(col) == true)
               || Sheet!.Selection!.Regions.Any(x => x.SpansCol(col));
    }

    private void OnSelectionChanged(object? sender, IEnumerable<IRegion> regions) => updateIntervals();
    private void OnSelectingChanged(object? sender, IRegion region) => updateIntervals();

    private void updateIntervals()
    {
        if (Sheet?.Selection == null)
            return;

        var intervals = new List<OrderedInterval>();
        if (Sheet.Selection.SelectingRegion != null && Sheet.Selection.SelectingRegion is ColumnRegion)
        {
            var fixedTempSelection = Sheet.Selection.SelectingRegion.GetIntersection(Sheet.Region);
            intervals.Add(new OrderedInterval(fixedTempSelection.TopLeft.Col, fixedTempSelection.BottomRight.Col));
        }
        foreach (var region in Sheet.Selection.Regions)
        {
            if (region is ColumnRegion)
            {
                var fixedRegion = region.GetIntersection(Sheet.Region);
                intervals.Add(new OrderedInterval(fixedRegion.TopLeft.Col, fixedRegion.BottomRight.Col));
            }
        }
        _selectionIntervals = OrderedInterval.Merge(intervals);
        StateHasChanged();
    }

    private void HandleMouseUp(int col, MouseEventArgs args)
    {
        OnMouseUp.InvokeAsync(new ColumnMouseEventArgs(col, args));
    }

    private void HandleMouseDown(int col, MouseEventArgs args)
    {
        OnMouseDown.InvokeAsync(new ColumnMouseEventArgs(col, args));
    }

    private void HandleMouseOver(int col, MouseEventArgs args)
    {
        OnMouseOver.InvokeAsync(new ColumnMouseEventArgs(col, args));
    }

    private string GetArdornerSizeStyles(int col)
    {
        var sb = new StringBuilder();
        var left = CellLayoutProvider.ComputeLeftPosition(col + 1) +
                   (_sheet.ShowRowHeadings ? CellLayoutProvider.RowHeadingWidth : 0);
        var top = 0;
        var width = 10;
        var height = CellLayoutProvider.ColHeadingHeight;

        sb.Append($"top:{top}px;");
        sb.Append($"left:{left - 6}px;");
        sb.Append($"width:{width}px;");
        sb.Append($"height:{height}px;");
        return sb.ToString();
    }

}