@using BlazorDatasheet.Data
@using System.Text.Encodings.Web
@using BlazorDatasheet.Interfaces
@using Microsoft.JSInterop;
@inject IJSRuntime JS
@using BlazorDatasheet.Render;
@implements IDisposable;
@using Microsoft.AspNetCore.Components.Web.Virtualization;
@using System.Collections.Immutable
@using System.Reflection
@using System.Text

<div
    style="@(IsFixedHeight ? $"max-height: {FixedHeightInPx}px;" : "");"
    theme="@Theme"
    class="vars sheet @(IsDataSheetActive ? "active-sheet" : "inactive-sheet")
     @(IsFixedHeight ? $" sheet-fixed-height" : "sheet-dynamic-height") "
    @onmouseover="() => IsMouseInsideSheet = true"
    @onmouseout="() => IsMouseInsideSheet = false">
    <!-- Column headers -->
    @if (Sheet?.ShowColumnHeadings == true)
    {
        <div class="sheet-row column-head @(StickyHeadings ? "col-sticky" : "")">
            @if (Sheet.ShowRowHeadings)
            {
                <!-- the little bit outside to the left of first col header -->
                <div class="sheet-cell row-head">
                    <div class="cell"/>
                </div>
            }
            <ColumnHeadingsRenderer
                OnMouseUp="@(e => HandleCellMouseUp(-1, e.Column, e.Args))"
                OnMouseOver="@(e => HandleCellMouseOver(-1, e.Column, e.Args))"
                OnMouseDown="@(e => HandleColumnHeaderMouseDown(e.Column, e.Args))"
                TempSelection="TempSelection"
                CellLayoutProvider="_cellLayoutProvider"
                Sheet="Sheet"/>
        </div>
    }

    @if (Sheet != null)
    {
        @if (Sheet.ShowRowHeadings)
        {
            <div>
                <div style="display: inline-block; float:left;">
                    <RowHeadingsRenderer
                        OnMouseDown="e => HandleRowHeaderMouseDown(e.RowIndex, e.MouseEventArgs)"
                        OnMouseOver="e => HandleCellMouseOver(e.RowIndex, -1, e.MouseEventArgs)"
                        OnMouseUp="e => HandleCellMouseUp(e.RowIndex, -1, e.MouseEventArgs)"
                        Sheet="Sheet"
                        CellLayoutProvider="_cellLayoutProvider"
                        TempSelection="TempSelection"/>
                </div>
            </div>
        }
        <Virtualize
            ItemsProvider="@LoadRows"
            OverscanCount="20"
            TItem="int"
            Context="rowIndex">
            <ItemContent>
                <div class="sheet-row" @key="rowIndex">
                    @for (int j = 0; j < Sheet?.NumCols; j++)
                    {
                        var row = rowIndex;
                        var col = j;

                        var cell = Sheet.GetCell(row, col);
                        var conditionalFormatting = Sheet.ConditionalFormatting.GetFormat(row, col);

                        Format format;
                        // If the cell contains its own format, merge with the conditional formatting
                        if (cell.Formatting != null)
                        {
                            format = cell.Formatting;
                            format.Merge(conditionalFormatting);
                        }
                        else
                        {
                            format = conditionalFormatting;
                        }


                        <!-- The cell content -->

                        <div
                            class="sheet-cell"
                            @onmousedown="e => HandleCellMouseDown(row, col, e)"
                            @onmouseover="e => HandleCellMouseOver(row, col, e)"
                            @ondblclick="e => HandleCellDoubleClick(row, col, e)"
                            @onmouseup="e => HandleCellMouseUp(row, col, e)">

                            <div
                                class="cell"
                                style="@GetCellStyleFromFormat(format, cell.IsValid)
                                                                ">
                                @if (format?.Icon != null)
                                {
                                    <div style="margin-right:2px; float:left; color: @(format.IconColor ?? "var(--icon-color)");">@format.Icon</div>
                                }
                                <DynamicComponent
                                    Type="@getCellRendererType(cell.Type)"
                                    Parameters="@getCellRendererParameters(cell, row, col)">
                                </DynamicComponent>
                            </div>

                        </div>
                    }
                </div>
            </ItemContent>
        </Virtualize>

        <EditorOverlayRenderer
            @ref="_editorManager"
            Sheet="Sheet"
            CellLayoutProvider="_cellLayoutProvider"/>

        <SelectionRenderer
            TempSelection="TempSelection"
            Sheet="Sheet"
            CellLayoutProvider="_cellLayoutProvider"/>
    }
</div>

@code{

    private string GetCellStyleFromFormat(Format? cellFormat, bool isValid)
    {
        var foreGroundVar = isValid ? "--sheet-foreground-color" : "--invalid-cell-foreground-color";
        var sb = new StringBuilder();
        sb.Append($"background-color:{cellFormat?.BackgroundColor ?? "var(--sheet-bg-color)"};");
        sb.Append($"color:{cellFormat?.ForegroundColor ?? $"var({foreGroundVar})"};");
        sb.Append($"font-weight:{cellFormat?.FontWeight ?? "var(--sheet-font-weight)"};");
        return sb.ToString();
    }

}