@using BlazorDatasheet.Core.Commands
@using BlazorDatasheet.Core.Data
@using Microsoft.JSInterop;
@inject IJSRuntime JS
@inject IWindowEventService _windowEventService;
@using BlazorDatasheet.Render;
@implements IDisposable;
@using BlazorDatasheet.DataStructures.Geometry
@using BlazorDatasheet.DataStructures.Util
@using BlazorDatasheet.Services
@using BlazorDatasheet.Util
@using BlazorDatasheet.Menu
@using BlazorDatasheet.Render.DefaultComponents
@inherits SheetComponentBase

<div
    @ref="_innerSheet"
    style="height:@(_cellLayoutProvider.TotalHeight)px; width: @(_cellLayoutProvider.TotalWidth)px;"
    class="@GetContainerClassString()"
    theme="@Theme"
    @onmouseover="() => IsMouseInsideSheet = true"
    @onmouseout="() => IsMouseInsideSheet = false">

    <!-- Register Menus -->
    <SelectionMenu/>

    <SheetMenuTarget
        MenuId="SelectionMenu"
        MenuData="Sheet"
        Trigger="@MenuTrigger.OnContextMenu"
        Placement="@MenuPlacement.BottomRight">
        <div>
            <!-- Column headers -->
            <div style="display: flex; flex-direction: column; justify-content: start;">

                <div id="filler-top" @ref="_fillerTop" style="min-height: @(_visualSheet.Viewport?.Top)px; min-width:@(_cellLayoutProvider.TotalWidth)px; display: block;"></div>

                <div style="display: flex; flex-direction: row;">

                    <div id="filler-left" @ref="_fillerLeft" style="float:right; min-width: @(_visualSheet.Viewport.Left)px; height: @(RenderedInnerSheetHeight)px;"></div>

                    <!-- inner sheet is the size of the visual sheet, which is resized on virtualisation -->
                    <table
                        class="sheet-table"
                        style="width:@(RenderedInnerSheetWidth)px;height: @(RenderedInnerSheetHeight)px;">

                        <colgroup>
                            @if (ShowRowHeadings)
                            {
                                <col style="width:@(_cellLayoutProvider.RowHeadingWidth)px;"/>
                            }

                            @for (int i = _visualSheet.Viewport.VisibleRegion.Left; i <= _visualSheet.Viewport.VisibleRegion.Right; i++)
                            {
                                var col = i;
                                var colWidth = _cellLayoutProvider.ComputeWidth(col, 1);
                                <col style="width:@(colWidth)px; max-width:@(colWidth)px;"/>
                            }
                        </colgroup>

                        <!-- col headings -->
                        @if (ShowColHeadings)
                        {
                            <thead class="@(this.StickyHeadings ? "col-sticky" : "")">
                            <tr style="height: @(_cellLayoutProvider.ColHeadingHeight)px;">
                                @if (ShowRowHeadings)
                                {
                                    <th class="sheet-cell @(StickyHeadings ? "row-sticky" : "")"></th>
                                }

                                @for (int i = _visualSheet.Viewport.VisibleRegion.Left; i <= _visualSheet.Viewport.VisibleRegion.Right; i++)
                                {
                                    var col = i;
                                    var colHeading = Sheet?.Columns.GetHeading(i) ?? RangeText.ColNumberToLetters(col);
                                    <th class="sheet-cell" data-col="@col" data-row="-1">
                                        @colHeading
                                    </th>
                                }
                            </tr>   
                            </thead>
                        }

                        <tbody>
                        @for (int rowIndex = _visualSheet.Viewport.VisibleRegion.Top; rowIndex <= _visualSheet.Viewport.VisibleRegion.Bottom; rowIndex++)
                        {
                            var row = rowIndex;
                            var rowHeight = @_cellLayoutProvider.ComputeHeight(row, 1);

                            <tr @key="row" style="height:@(rowHeight)px;">

                                @if (ShowRowHeadings)
                                {
                                    <th data-row="@row" data-col="-1" class="sheet-cell row-head @(this.StickyHeadings ? "row-sticky" : "")">
                                        @(_sheetLocal.Rows.GetHeading(row) ?? (row + 1).ToString())
                                    </th>
                                }

                                @for (int j = _visualSheet.Viewport.VisibleRegion.Left; j <= _visualSheet.Viewport.VisibleRegion.Right; j++)
                                {
                                    var col = j;
                                    var cell = _visualSheet.GetVisualCell(row, col);
                                    @if (!cell.Visible)
                                        continue;

                                    var k = col;
                                    <td
                                        @key="k"
                                        data-row="@row"
                                        data-col="@col"
                                        colspan="@cell.ColSpan"
                                        rowspan="@cell.RowSpan"
                                        class="sheet-cell"
                                        style="@cell.FormatStyleString">
                                        @switch (cell.CellType)
                                        {
                                            case "default":
                                                @cell.Value
                                                break;
                                            case "boolean":
                                                <BoolRenderer Cell="cell" Sheet="_sheetLocal"/>
                                                break;
                                            case "select":
                                                <SelectRenderer Cell="cell" Sheet="_sheetLocal"/>
                                                break;
                                            default:
                                                <DynamicComponent
                                                    Parameters="@GetCellRendererParameters(cell)"
                                                    Type="@GetCellRendererType(cell.CellType)"/>
                                                break;
                                        }
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>

                    <div id="filler-right" @ref="_fillerRight" style="float:left;min-width: @(_visualSheet.Viewport.DistanceRight)px; height:@(RenderedInnerSheetHeight)px;"></div>

                    <EditorOverlayRenderer
                        @ref="_editorManager"
                        Sheet="Sheet"
                        CustomCellTypes="CustomCellTypeDefinitions"
                        CellLayoutProvider="_cellLayoutProvider"/>
                </div>

                <div id="filler-bottom" @ref="_fillerBottom" style="min-height: @(_visualSheet.Viewport?.DistanceBottom)px; min-width:@(1)px;"></div>
            </div>
        </div>

    </SheetMenuTarget>

    <!-- entire size of sheet to force scrollbars. Includes width of row headers/columns-->
    <div id="sheet_whole"
         @ref="_wholeSheetDiv"
         style="position:absolute; top:0; 
                     left:0;
                     min-height:@(_cellLayoutProvider.TotalHeight)px; 
                     max-height:@(_cellLayoutProvider.TotalHeight)px; 
                     min-width:@(_cellLayoutProvider.TotalWidth)px;
                     max-width:@(_cellLayoutProvider.TotalWidth)px;
                     pointer-events: none;
                     z-index: 0;">

        <SelectionRenderer
            Sheet="Sheet"
            CellLayoutProvider="_cellLayoutProvider"/>

        <AutofillRenderer
            Sheet="Sheet"
            InputService="_sheetPointerInputService"
            CellLayoutProvider="_cellLayoutProvider"
            SelectionExpanded="HandleSelectionExpanded"/>
    </div>
</div>